*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;/*清除文字下划线*/
}
/*首页顶部导航开始*/
.huahui-header{
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    z-index: 1;/*用于堆叠，z-index值大的在上面*/
}
.huahui-header2{
    width: 100%;
    height: 79px;
    background:rgba(255,255,255,1);
    position: fixed;
    top: 0;
    z-index: 1;/*用于堆叠，z-index值大的在上面*/
}
.header-content{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.header-logo{
    width: 150px;
    height: 100%;
    float: left;
}
.header-logo img{
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
.header-nav{
    width: 602px;
    height: 79px;
   /* background:pink;*/
    float: right;
}
.header-nav a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav a:nth-child(1) {
    color:#16b0dc;
}
.header-nav a:hover{
    color:#16b0dc;
}



/*2*/
.header-nav2{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav2 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav2 a:nth-child(2) {
    color:#16b0dc;
}
.header-nav2 a:hover{
    color:#16b0dc;
}





/*3*/
.header-nav3{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav3 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav3 a:nth-child(3) {
    color:#16b0dc;
}
.header-nav3 a:hover{
    color:#16b0dc;
}



/*5*/
.header-nav4{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav4 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav4 a:nth-child(4) {
    color:#16b0dc;
}
.header-nav4 a:hover{
    color:#16b0dc;
}




/*5*/
.header-nav5{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav5 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav5 a:nth-child(5) {
    color:#16b0dc;
}
.header-nav5 a:hover{
    color:#16b0dc;
}



/*6*/
.header-nav6{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav6 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav6 a:nth-child(6) {
    color:#16b0dc;
}
.header-nav6 a:hover{
    color:#16b0dc;
}




/*5*/
.header-nav7{
    width: 602px;
    height: 79px;
    /* background:pink;*/
    float: right;
}
.header-nav7 a{
    width: 86px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    color: #2a333c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    float: left;
}
.header-nav7 a:nth-child(7) {
    color:#16b0dc;
}
.header-nav7 a:hover{
    color:#16b0dc;
}
/*首页导航结束*/
/*轮播图开始*/
.picture{
    width: 1349px;
    height: 760px;
    position: relative;
    margin:  0 auto;
}
.picture img{
    width: 100%;
    height: 100%;
    opacity:0.9;
}
.picture-dian{
    width: 55px;
    height: 21px;
    position: absolute;
    bottom: 50px;
    left: 650px;
}
.dians{
    width: 20px;
    height: 20px;
    background: #00a5c4;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
.dian{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    float:right;
    cursor: pointer;
}
.dian:hover{
    background: #00a5c4;
}
.picture-left{
    width: 42px;
    height: 69px;
    /* background: #000;*/
    position: absolute;
    left:0;
    top: 380px;
    background-image:url(../img/icon-slides.png);
    background-position: 83px 0;
}
.picture-left:hover{
    background-position: 0 0;
}
.picture-right{
    width: 42px;
    height: 69px;
    /* background: #000;*/
    position: absolute;
    right: 0;
    top: 380px;
    background-image: url("../img/icon-slides.png");
    background-position: 42px 0;
}
.picture-right:hover{
    background-position: -42px 0;
}
/*轮播图结束*/
/*素馨花艺开始*/
.three-box{
    width: 100%;
    height: 744px;
   /* background: #ff6700;*/
    padding: 70px 0;
    box-sizing: border-box;
}
.three-box-first{
    width: 1104px;
    height: 604px;
    background: white;
    margin: 0 auto;
}
.three-box-more{
    width: 100%;
    height: 43px;
    margin:0 auto;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.three-box-more-p{
    width: 80%;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  /*  color: #5e7387;*/
    line-height: 50px;
    margin-left: 114px;
}
.three-box-picture{
    width: 1150px;
    height: 476px;
   /* background: #b0b0b0;*/
    padding: 0 60px;
    margin:50px  auto 0;
    box-sizing: border-box;
}
.three-box-picture-box{
    width: 320px;
    height: 100%;
   /* background: #ff6700;*/
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
}
.three-picture{
    width: 100%;
    height: 320px;
}
.three-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.three-box-picture-h4{
    width: 320px;
    height: 21px;
    margin: 11px auto;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}
.TBP-p{
    width: 320px;
    height: 44px;
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
}
.TBP-title{
    width: 300px;
    height: 40px;
    padding: 6px 15px;
    margin: 0 auto;
    border:1px  black;
    border-radius: 3%;
    background: #c43e35;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.TBP-title i{
    width: 16px;
    height:20px;
    color: #b01d08;
    padding-right: 10px;
}
/*素馨花点击开始*/
.three-prve{
    width: 30px;
    height: 30px;
   border-radius: 50%;
    background: #e0e0e0;
    float: left;
    cursor: pointer;
    margin-top: 200px;
}
.three-prve i{
    width: 15px;
    height: 15px;
    padding-left: 7.5px;
    line-height: 30px;
    color: white;
    text-align: center;
}
.three-next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e0e0e0;
    margin-top:200px;
    float: right;
    cursor: pointer;
}
.three-next i{
    width: 15px;
    height: 15px;
    padding-left: 7.5px;
    line-height: 30px;
    color: white;
    text-align: center;
}
/*素馨花点击结束*/
/*素馨花艺结束*/
/*素馨花语开始*/
.four-box{
    height: 567px;
    padding:70px 0px;
    background: #e0e0e0;
}
.four-box-first{
    width: 1280px;
    height: 43px;
    margin:0 auto;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.four-picture-box{
    width:1170px;
    height: 504px;
    margin: 20px 90px 0;
  /*  background: #ff6700;*/
    box-sizing: border-box;
}
.four-picture1{
    width: 585px;
    height: 96px;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 30px;
    float: left;
   /* background: white;*/
}
.four-picture1-left{
    width: 180px;
    height: 96px;
    /*background: blue;*/
    float: left;
}
.four-picture1-left img{
    width: 160px;
    height: 96px;
    border-radius: 5%;
}
.four-picture-right{
    width: 375px;
    height: 96px;
    /*background: #b0291b;*/
    float: right;
}
.four-picture-right a{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: black;
}
.four-picture-right a:hover{
    color: #00a5c4;
}
.four-title{
    width: 375px;
    height: 42px;
    margin-top: 5px;
}
.four-title p{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: rgb(118,131,143);
    overflow: hidden;
}
.four-title-f{
    width: 375px;
    height: 21px;
    /*background: #00a5c4;*/
}
.four-title-f span{
    font-size: 14px;
    font-weight: 300;
    color: rgb(118,131,143);
    float: left;
}
.span-wang{
    font-size: 14px;
    font-weight: 300;
    color: rgb(118,131,143);
    margin-left: 10px;
}
.span-wang i{
    width: 14px;
    height: 14px ;
    color: rgb(118,131,143);
}
/*素馨花语结束*/
/*工作室开始*/
.five-box{
    height: 765px;
    padding: 0 15px;
    margin: 90px auto;
    box-sizing: border-box;
}
.five-box-first{
    width: 1140px;
    height: 759px;
    padding:0 15px;
    margin: 0 auto;
}
.first-title-a{
    width: 100%;
    height: 43px;
    margin:0 auto;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
/*工作室加百度图片*/
.five-box-next{
    width: 1080px;
    height: 612px;
    padding: 30px;
    margin: 50px auto 0;
    box-sizing: border-box;
}
.five-title-p{
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    color:rgb(34,34,34);
    text-align: center;
}
.five-title-p span{
    height: 20px;
}
.five-picture-baidu{
    width: 1080px;
    height: 340px;
    margin-top: 20px;
    text-align: center;
}
.five-picture-baidu img {
    width: 530px;
    height: 340px;
}
/*工作室结束*/
/*底部开始*/
.foot{
    width: 1349px;
    height: 181px;
    margin: 0 auto;
    background: rgb(224, 224, 224);
    box-sizing: border-box;
}
.foot-text{
    width: 1349px;
    height: 56px;
    margin-top: 10px;
    padding: 5px 0;
    box-sizing: border-box;
   /* background: #b0291b;*/
}
.foot-picture{
    width: 150px;
    height: 40px;
   /* background: black;*/
    margin: 0 auto;
}
.foot-picture i{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    font-size: 30px;
    color: #0dc100;
    cursor: pointer;
}
/*.erweima{
    width: 200px;
    height: 0;
    background: #e0e0e0;
    position: absolute;
    left: 600px;
    bottom: 181px;
    transition: all 0.5s linear;
    z-index: 999;
}*/
.foot-picture a{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    font-size: 30px;
    color: #21c0bd;
    cursor: pointer;
}
.foot-txt{
    width: 1349px;
    height: 79px;
    margin: 0 auto;
}
.foot-txt img{
    width: 20px;
    height: 20px;
}
.txt-1{
    width: 1349px;
    height: 25px;
    color: #00a5c4;
    text-align: center;
    cursor: pointer;
}
.foot-txt-next{
    width: 1140px;
    height: 25px;
    margin: 0 auto;
}
.txt-2{
    font-weight: 300;
    font-size: 14px;
    color: rgb(170,170,170);
    text-align: center;
}
/*底部结束*/
/*返回顶部开始*/
.btn{
    width: 36px;
    height: 36px;
    padding: 6px 15px;
    font-size: 12px;
    line-height: 1.6;
    border-radius: 3px;
    -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
.btn-icon{
    padding: 10px;
    line-height: 1em
}
.btn-primary{
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea
}
.btn-squared{
    border-radius:3px;
}
.met-scroll-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.tp1{
    width:12px;
    height: 12px;
    text-align: center;
    /*background: #fdff04;*/

}
.tp1 img{
    width:12px;
    height: 12px;
    text-align: center;
}
/*返回顶部结束*/

/*花言花语*/
.biaoti{
    width:100%;
    height:79px;
    background: #ffffff;
}
.huayu{
    height:120px;
    /*background: #ff6700;*/
    vertical-align: middle;
}
.huayu2{
    width:140px;
    height:40px;
    padding:40px 30px;
    font-size:32px;
    font-weight:400;
    text-shadow: #0bff1f;
    color: #F67A82;
    vertical-align:middle;
    max-width: 100%;
    margin:0 auto;
}

.nr{
    width:100%;
    height:1980px;
    margin:30px auto;
    /*background: #f8b676;*/
}
.nr1{
    width:1170px;
    height:1950px;
    margin:0 auto;
    /*background:#3e3ef8;*/
}
/*内容左开始*/
.nrz{
    width:877.5px;
    height:1920px;
    background: #ffffff;
    float: left;
    margin-bottom: 30px;
}

.nrz2{
    width:817.5px;
    height:1860px;
    margin:30px;
    /*background: #e3a906;*/
}

.nrz4{
    width:817.5px;
    height:1877px;
    /*background: #2e59e3;*/
}
.nrz4 ul{
    width:817.5px;
    height:1760px;
    /*background: black;*/
}
.nrz4 ul li{
    width:817.5px;
    height:190px;
    /*background: #ce0e6b;*/
    margin:30px 0;
    border-bottom: 1px #ffffff solid;
    box-sizing: border-box;
}
.nrz5{
    width:180px;
    height:160px;
    /*background: #fdff04;*/
    float: left;
}
.nrz5 img{
    width:160px;
    height:160px;
}
.nrz6{
    width:637px;
    height:160px;
    /*background: #ff6700;*/
    float: right;

}
.nrz6 h4{
    font-size:22px;
    color: #37474f;
    font-weight: 400;
    margin-bottom: 14px;

}
.nrz6 p{
    font-size:16px;
    color: #76838f;
    font-weight: 300;
    margin-bottom: 14px;

}
.nrz66{
    width:637px;
    height:81px;
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
}
.nrz6 p:nth-child(2){
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;

}
.nrz6 p span:nth-child(2){
    width:16px;
    height:16px;
    margin-left:10px;
}
.nrz6 p span:nth-child(3) img{
    width:16px;
    height:16px;
    margin-left:10px;
    margin-right: 5px;
}
.nrz7{
    width:817.5px;
    height:100px;
    /*background:red;*/

}
.nrz71{
    width:300px;
    height:20px;
    /*background:#ffffff;*/
    margin:0 auto;
}
.nrz72{
    width:300px;
    height:60px;
    /*background:green;*/
    margin:0 auto;
    text-align: center;
}
.nrz72 span{
    font-size:24px;
    line-height: 60px;
    margin-top:20px;
    border:1px rgba(42,51,61,0.3) solid;
    box-sizing: border-box;
}
.nrz72 span:nth-child(3){
    padding:0 8px;
    border:1px rgba(42,51,61,0.3) solid;
    box-sizing: border-box;
}
.nrz72 span:nth-child(4){
    padding:0 8px;
    border:1px rgba(42,51,61,0.3) solid;
    box-sizing: border-box;
}
.nrz72 span:nth-child(5){
    padding:0 8px;
    border:1px rgba(42,51,61,0.3) solid;
    box-sizing: border-box;
}
/*内容左结束*/

/*内容右开始*/
.nry{
    width:25%;
    height:354px;
    /*background:green;*/
    float: right;
}
.nry2{
    width:262.5px;
    height:354px;
    background: #ffffff;
    margin-left: 30px;
}
.nry3{
    width:222.5px;
    height:314px;
    /*background:rgba(0,0,0,0.6);*/
    padding: 20px;
}
.nry31{
    width:222.5px;
    height:36px;
    /*background: #fdff04;*/
    border-radius: 30px;
    border: 1px rgba(42,51,61,0.3) solid;
    box-sizing: border-box;
    padding: 6px 15px;
}
.nry31 input{
    line-height: 1.57142857;
    color: #76838f;
    float: left;
}
.nry31 img{
    width:24px;
    height:24px;
    float: right;
}
.nry32{
    width:222.5px;
    height:161px;
    /*background: #3e3ef8;*/
    margin:20px auto;
    padding: 20px 0;
    border-top: 1px solid #f5553e;
    border-bottom: 1px solid #02f50f;
}
.nry32 h3{
    font-size: 18px;
    color:#37474f;
    line-height: 1.2;
}
.nry32 ul{
    width:222.5px;
    height:130px;
    margin-top: 10px;
    box-sizing:border-box;
    list-style-type: disc;
}
.nry32 ul li{
    font-size: 14px;
    width:190.5px;
    height:22px;
    padding:10px 15px;
    border: 1px #eeeeee solid;
    margin-bottom: -1px;
}
.nry33{
    width:222.5px;
    height:24px;
    margin-bottom:11px;
}
.nry33 ul li{
    font-size: 16px;
    color: #2a333c;
    margin-bottom:10px;
}
.db1{
    width:100%;
    height:20px;
    background: #ffffff;
}
.db2{
    width:100%;
    height:56px;
    /*background: #fdff04;*/
}
.db21{
    width:100%;
    height:5px;
    /*background: #2a333c;*/
}
.db22{
    width:100%;
    height:46px;
    /*background: #5805ff;*/
    text-align: center;
}
.db22 span{
    margin: 5px;
}
.db23{
    width:100%;
    height:8px;
    text-align: center;
}
.db22 span img{
    width:30px;
    height:30px;
}
.db3{
    width:100%;
    height:75px;
    /*background:green;*/
}
.db31{
    width:1140px;
    height:75px;
    padding:0 15px;
    margin:0 auto;
    /*background: #ff6700;*/
}
.db31 p{
    font-size:14px;
    line-height: 25px;
    text-align: center;
}


/*留言建议*/
.liuyan{
    width:100%;
    height:879px;
    padding: 30px 0;
}
.liuyan1{
    width:1170px;
    height:819px;
    /*background: #ff6700;*/
    margin:0 auto;
}
.liuyan2 {
    width: 720px;
    height: 819px;
    background:#ffffff;
    padding: 30px;
    float: left;
}
.liuyan21{
    width:100%;
    height:100%;
    margin-bottom:20px;
    background:#ffffff;
}
.liuyan21 li{
    width:718px;
    height:79px;
    padding:10px 0;
    /*background: #fdff04;*/

    border-top-color:#ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color:#ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(118, 131, 143);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:#ffffff;
    border-left-style: solid;
    border-left-width: 1px;
}
.liuyan22{
    width:718px;
    height:57px;
    padding: 10px 0;
    /*background: #fdff04;*/
}
.liuyan23{
    width:46px;
    height:53px;
    float: left;
}


/*li第四个*/
.liuyan21 li:nth-child(4){
    width:718px;
    height:142px;
    padding:10px 0;
    /*background: #fdff04;*/

    border-top-color:#ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color:#ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(118, 131, 143);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:#ffffff;
    border-left-style: solid;
    border-left-width: 1px;
}
.liuyan224{
    width:718px;
    height:120px;
    padding: 2px 0;
    /*background: #fdff04;*/
}
.liuyan234{
    width:46px;
    height:116px;
    float: left;
}
.liuyan244{
    width:672px;
    height:116px;
    float: right;
}
.liuyan234 span{
    width:36px;
    height:36px;
    margin-right: 10px;
}
.liuyan234 img{
    width:36px;
    height:36px;
}

.liuyan244 h4{
    width:672px;
    height:16px;
    /*background: #5805ff;*/
    font-size: 75%;
    color: #76838f;
}
.liuyan244 h4 small{
    float: right;
}
.liuyan244 p{
    width:672px;
    height:21px;
    margin-bottom: 11px;
    font-size: 14px;
    color: #76838f;
}
.liuyan251{
    width:630px;
    height:21px;
    min-height: 20px;
    padding: 20px;
    font-size: 75%;
    line-height:23px;
    background-color:#e0e0e0;
    border: 1px solid #e4eaec;
    border-radius: 3px;
}
/*li第四个*/
/*li第五个*/
.liuyan21 li:nth-child(5){
    width:718px;
    height:161px;
    padding:10px 0;
    /*background: #fdff04;*/

    border-top-color:#ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color:#ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(118, 131, 143);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:#ffffff;
    border-left-style: solid;
    border-left-width: 1px;
}
.liuyan225{
    width:718px;
    height:157px;
    padding: 2px 0;
    /*background: #fdff04;*/
}
.liuyan235{
    width:46px;
    height:137px;
    float: left;
}
.liuyan245{
    width:672px;
    height:137px;
    float: right;
}
.liuyan235 span{
    width:36px;
    height:36px;
    margin-right: 10px;
}
.liuyan235 img{
    width:36px;
    height:36px;
}

.liuyan245 h4{
    width:672px;
    height:16px;
    /*background: #5805ff;*/
    font-size: 75%;
    color: #76838f;
}
.liuyan245 h4 small{
    float: right;
}
.liuyan245 p{
    width:672px;
    height:21px;
    margin-bottom: 11px;
    font-size: 14px;
    color: #76838f;
}
.liuyan252{
    width:630px;
    height:42px;
    min-height: 20px;
    padding: 20px;

    background-color:#e0e0e0;
    border: 1px solid #e4eaec;
    border-radius: 3px;

}
/*li第五个*/
.liuyan21 li:nth-child(6){
    width:718px;
    height:142px;
    padding:10px 0;
    /*background: #fdff04;*/

    border-top-color:#ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color:#ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(118, 131, 143);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:#ffffff;
    border-left-style: solid;
    border-left-width: 1px;
}

.liuyan23 span{
    width:36px;
    height:36px;
    margin-right: 10px;
}
.liuyan23 img{
    width:36px;
    height:36px;
}
.liuyan24{
    width:672px;
    height:53px;
    float: right;
}
.liuyan24 h4{
    width:672px;
    height:16px;
    /*background: #5805ff;*/
    color: #76838f;
    font-size: 75%;
}
.liuyan24 h4 small{
    float: right;
}
.liuyan24 p{
    width:672px;
    height:21px;
    margin-bottom: 11px;
    font-size: 14px;
    color: #76838f;
}
/*左边结束*/
/*右边开始*/
.liuyan3 {
    width: 390px;
    height: 464px;
    /*background: #07ff45;*/
    float: right;
}
.liuyan31 {
    width: 300px;
    height: 404px;
    background: #ffffff;
    float: right;
    padding:30px;
}
.liuyan32{
    width: 300px;
    height: 404px;
    /*background: #08fff7;*/

}
.liuyan33{
    width:300px;
    height:36px;
    margin-bottom:20px;
    border: 1px solid #e4eaec;
}
.liuyan33 input{
    width:300px;
    height:36px;
    padding:5px 15px;
    font-size:14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    box-sizing: border-box;
}
.liuyan34{
    width:300px;
    height:124px;
    margin-bottom: 20px;
}
.liuyan34 textarea{
    display: block;
    width: 268px;
    height: 110px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
}
.liuyan35{
    width:300px;
    height:36px;
    margin-bottom:20px;
    color:#2a333c;

}
.liuyan35 input{
    width:156px;
    height:22px;
    padding:6px 15px;
    border: 1px #2a333c solid;
    float: left;
}
.liuyan35 span{
    width:80px;
    height:22px;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px #76838f solid;
    border-bottom: 1px #76838f solid;
    border-right: 1px #76838f solid;
    color: #76838f;
    text-align: center;
    background-color: #f3f7f9;
    border-radius: 3px;
    float: right;
}
.liuyan35 span img{
    width:80px;
    height:22px;
}
.liuyan36{
    width:100%;
    height:36px;
    background:#62a8ea;
}
.liuyan36 button{
    display: block;
    width: 100%;

    padding:6px 15px;
    color: #fff;
    background-color: #62a8ea;
    line-height:22px;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #62a8ea;
}


/*关于素馨*/
.gysx1{
    width:100%;
    height:351px;
}
.gysx1 img{
    width:100%;
    height:351px;
}


/*素馨花艺*/
.zhongbu{
    width:1349px;
    height:1089px;
    /*background: #fdff04;*/
}
.zhongbu1{
    width:1319px;
    height:1089px;
    padding:0 15px;
    /*background: #e0e0e0;*/
}
.zhongbu2{
    width:1319px;
    height:1089px;
    margin:79px 15px;
    /*background: #ff6700;*/
}
.zhongbu2 ul li{
    float: left;
}
/*
.zhongbu3{
    width:610.5px;
    height:481.5px;
    padding: 20px;
    float: left;
    position: relative;
}
.zhongbu3 img{
    width:620.5px;
    height:491.5px;
    float: left;
}*/
.zhongbu3{
    width:50%;
    height:50%;
    float: left;
    position: relative;
}
.zhongbu3 img {
    width: 100%;
    height: 100%;
    float: left;
}
.zhongbu4{
    width:120px;
    height:142px;
    /*background: #ff6700;*/
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
.zhongbu41{
    width:120px;
    height:38px;
    /*background: #fdff04;*/
    font-size: 14px;
    text-align: center;
}
.zhongbu411{
    width:20px;
    height:2px;
    margin:0 50px 15px;
    /*background: #ff0806;*/
}
.zhongbu42{
    width:120px;
    height:28px;
    /*background: #c15d23;*/
    margin-bottom: 20px;
    font-size: 22px;
    color: #eeeeee;
    text-align: center;
}
.zhongbu42 a{
    width:120px;
    height:28px;
}
.zhongbu43{
     width:120px;
     height:36px;
     /*background: #311dff;*/
    text-align: center;
 }
.zhongbu43 input{
    width:60px;
    height:36px;
    border:1px #ffffff solid;
    font-size: 16px;
    text-align: center;
    background: rgba(0,0,0,0.1);
}